
$body-font: Verdana, sans-serif

$bg: #88a55c
$logo-bg: #3a3001
$header-bg: #0a3f05

*
  padding: 0
  margin: 0

html
  background: $bg

.header
  position: fixed
  width: 100%
  background: $header-bg

.pp
  align-content: center
  width: 16%
  margin: auto

.footer
  position: absolute
  width: 100%
  background-color: #efefef
